<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <section th:fragment="card" class="d-flex justify-content-center flex-wrap mt-5">
            <!-- 1 Sección para crear el botón de agregar... llamará a una ventana modal-->
            <div class="card mx-2 mb-4" style="width: 18rem;">
                <img src="https://firebasestorage.googleapis.com/v0/b/enigmasalon-4beba.appspot.com/o/Salon%2FIconoInfo.png?alt=media&token=e941b81a-c89a-4f06-8c4d-6c8ce01a8eda" class="card-img-top" alt="..."/>
                <div class="card-body">
                    <h5 class="card-title">Información</h5>
                    <a href="/conozcanos/informacion" class="btn btn-primary">Click aquí</a>
                </div>
            </div>
            <div class="card mx-2 mb-4" style="width: 18rem;">
                <img src="https://firebasestorage.googleapis.com/v0/b/enigmasalon-4beba.appspot.com/o/Salon%2FIconoContactenos.png?alt=media&token=53d45252-8218-414d-b584-fdc37adaa284" class="card-img-top" alt="..."/>
                <div class="card-body">
                    <h5 class="card-title">Contáctenos</h5>
                    <a href="/conozcanos/contactenos" class="btn btn-primary">Click aquí</a>
                </div>
            </div>
            <div class="w-100"></div> <!-- Divisor de fila -->

            <div class="w-100 d-flex justify-content-center">
                <p>10 años de experiencia | +1000 Clientes satisfechos | 3 Sucursales</p>
            </div>
        </section>



         </body>
</html>