<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <section th:fragment="card" class="d-flex justify-content-center flex-wrap mt-5">
            <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
            <div class="card mx-2 mb-4" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="..."/>
                <div class="card-body">
                    <h5 class="card-title">Información</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card mx-2 mb-4" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="..."/>
                <div class="card-body">
                    <h5 class="card-title">Contactenos</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="w-100"></div> <!-- Divisor de fila -->

            <div class="w-100 d-flex justify-content-center">
                
                    <p> 10 años de experiencia | +1000 Clientes satisfechos | 3 Sucursales </p>
            </div>

        </section>


    </body>
</html>