<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>EnigmaSalon</title>
    </head>
    <body>
  
<section th:fragment="card" id="servicios" class="pt-md-5">
    <!-- Sección para los servicios -->
    <div class="container">
        <!-- Filas y columnas -->
        <div class="row justify-content-center">
            <!-- Servicios -->
            <div class="col-md-3 mb-4" th:each="s : ${servicios}">
                <div class="card">
                    <img th:src="${s.rutaImagen}" class="card-img-top" style="object-fit: cover; height: 250px;" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-3" th:text="${s.nombreServicio}"></h5>
                        <p class="card-text" th:text="${s.descripcion}"></p>
                        <!-- Botón para abrir el modal -->
                        <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" th:attr="data-bs-target='#modal' + ${s.idServicios}">
                            Comprar
                        </button>
                    </div>
                </div>
                <!-- Modal asociado a cada servicio -->
                <div class="modal" th:id="'modal' + ${s.idServicios}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" th:text="${s.nombreServicio}"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Contenido del modal -->
                                <p th:text="${s.descripcion}"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <!-- Agrega aquí cualquier otro botón o funcionalidad necesaria -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Agregar Bootstrap JS al final del body para funcionalidad -->
<!-- Agrega aquí el enlace al archivo JS de Bootstrap -->

</body>
</html>